// 颜色定义规范
$color-background = #ffffff
$font-color-menu = hsla(0,0%,100%,.7)
$font-color-menu-background = #2d8cf0
$font-color-menu-light = hsla(0,0%,100%,1)
$color-menu = #46474a
$color-menu-aux = #515151
$color-title = #464c5b
$color-text = #657180
$color-aux = #9ea7b4
$color-fail = #c3cbd6
$color-link = #2d8cf0

//字体定义规范
$font-size-title-max = 30px
$font-size-title-home = 20px
$font-size-title-x = 16px
$font-size-normal = 12px

//自定义规范
$mainBlue =#24afff
$mainBlueDark =#2b85e4
$lightGrayFont = #aeaeae
$mainBlackFont = #232323
$lightGrayBg = #f7f7f7
$headerHeight = 60px
$width-wrap = 1200px
$mainRed = #ed4014
$lmColor= #266ec1
$blColor= #d13030
